@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  color: white;
  background-color: #202c37;
  overflow-x: hidden;
}

header {
  width: 100%;
  background-color: #2b3945;
  -webkit-box-shadow: 0 0 10px 0 rgba(133, 133, 133, 0.1);
          box-shadow: 0 0 10px 0 rgba(133, 133, 133, 0.1);
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
}

header div {
  width: 90%;
  padding: 2rem 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div h1 {
  font-size: inherit;
  font-weight: 700;
}

header div button {
  cursor: pointer;
  color: inherit;
  border: none;
  font-size: 12px;
  font-weight: 300;
  background-color: transparent;
}

header div button:hover {
  text-decoration: underline;
}

header div button i {
  margin-right: 0.5rem;
}

section {
  margin-top: 83px;
  padding: 1.5rem 0;
}

section div {
  width: 90%;
  margin: 0 auto;
}

section div form {
  width: 100%;
  max-width: 480px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 0 10px 0 #1e2b34;
          box-shadow: 0 0 10px 0 #1e2b34;
}

section div form button {
  color: white;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  left: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

section div form input {
  width: 100%;
  color: white;
  font-family: inherit;
  font-size: 14px;
  padding: 0.8rem 4rem;
  background-color: #2b3945;
  border: none;
}

section div form input::-webkit-input-placeholder {
  color: inherit;
  font-size: 12px;
}

section div form input:-ms-input-placeholder {
  color: inherit;
  font-size: 12px;
}

section div form input::-ms-input-placeholder {
  color: inherit;
  font-size: 12px;
}

section div form input::placeholder {
  color: inherit;
  font-size: 12px;
}

section div select {
  font-family: inherit;
  font-size: 12px;
  color: white;
  margin: 2.5rem 0 0 0;
  padding: 0.8rem 2rem 0.8rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #2b3945;
  -webkit-box-shadow: 0 0 10px 0 #1e2b34;
          box-shadow: 0 0 10px 0 #1e2b34;
}

.modal-container {
  width: 100vw;
  min-height: 91vh;
  z-index: 1000;
  background-color: #202c37;
  display: none;
  position: absolute;
  top: 83px;
  left: 0;
}

.modal-container.active {
  display: block;
}

.modal-container > div {
  width: 90%;
  margin: 0 auto;
}

.modal-container > div button {
  cursor: pointer;
  color: white;
  font-family: inherit;
  margin: 3rem 0;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 3px;
  background-color: #2b3945;
  -webkit-box-shadow: 0 0 10px 0 #111517;
          box-shadow: 0 0 10px 0 #111517;
}

.modal-container > div button i {
  margin-right: 1rem;
}

.modal-container > div .country-detail {
  width: 100%;
}

.modal-container > div .country-detail div:nth-child(1) {
  width: 100%;
}

.modal-container > div .country-detail div:nth-child(1) img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.modal-container > div .country-detail .country-info {
  margin: 0;
  width: 100%;
}

.modal-container > div .country-detail .country-info .info-one div:nth-child(1) {
  margin: 2rem 0;
}

.modal-container > div .country-detail .country-info .info-one div:nth-child(1) p {
  margin: 1rem 0;
}

.modal-container > div .country-detail .country-info .info-one div:nth-child(1) p:last-child {
  margin-bottom: 0;
}

.modal-container > div .country-detail .country-info .info-one div:nth-child(2) p {
  margin: 1rem 0;
}

.modal-container > div .country-detail .country-info .info-two {
  margin: 2rem 0;
}

.modal-container > div .country-detail .country-info .info-two h3 {
  font-weight: 600;
}

.modal-container > div .country-detail .country-info .info-two p {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal-container > div .country-detail .country-info .info-two p span {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 80px;
  max-width: 80px;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem 1rem 0.5rem 0;
  border-radius: 3px;
  background-color: #2b3945;
  -webkit-box-shadow: 0 0 10px 0 #111517;
          box-shadow: 0 0 10px 0 #111517;
}

main .countries-container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .countries-container .country {
  cursor: pointer;
  width: 260px;
  height: 330px;
  border-radius: 5px;
  margin: 2rem 2rem 2rem 2rem;
  overflow: hidden;
  background-color: #2b3945;
  -webkit-box-shadow: 0 0 0 10px #1e2b34;
          box-shadow: 0 0 0 10px #1e2b34;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

main .countries-container .country:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

main .countries-container .country div:first-child {
  width: 100%;
  height: 160px;
}

main .countries-container .country div:first-child img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

main .countries-container .country div:last-child {
  padding: 1rem;
}

main .countries-container .country div:last-child h2 {
  font-size: 1.1rem;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
}

main .countries-container .country div:last-child p {
  margin: 0.5rem;
}

.light-theme body {
  background-color: #fafafa;
}

.light-theme header {
  color: #111517;
  background-color: white;
  border-bottom: 1px solid rgba(133, 133, 133, 0.1);
}

.light-theme section {
  background-color: #fafafa;
  border: 1px solid #fafafa;
}

.light-theme section div form {
  -webkit-box-shadow: 0 0px 1px 0 #858585;
          box-shadow: 0 0px 1px 0 #858585;
}

.light-theme section div form input {
  color: #858585;
  background-color: white;
}

.light-theme section div form button {
  color: #858585;
}

.light-theme section div select {
  color: #111517;
  background-color: white;
  -webkit-box-shadow: 0 0px 1px 0 #858585;
          box-shadow: 0 0px 1px 0 #858585;
}

.light-theme .modal-container {
  color: #111517;
  background-color: #fafafa;
}

.light-theme .modal-container div button {
  color: #111517;
  background-color: white;
  -webkit-box-shadow: 0 0 10px 0 rgba(133, 133, 133, 0.1);
          box-shadow: 0 0 10px 0 rgba(133, 133, 133, 0.1);
}

.light-theme .modal-container div .country-detail .country-info div:nth-child(2) p span {
  background-color: white;
  -webkit-box-shadow: 0 0 10px 0 rgba(133, 133, 133, 0.1);
          box-shadow: 0 0 10px 0 rgba(133, 133, 133, 0.1);
}

.light-theme main .countries-container {
  background-color: #fafafa;
}

.light-theme main .countries-container .country {
  color: #111517;
  background-color: white;
  -webkit-box-shadow: 0 0px 1px 0 #858585;
          box-shadow: 0 0px 1px 0 #858585;
}

.light-theme main .countries-container .country div:first-child {
  -webkit-box-shadow: 0 0px 1px 0 #858585;
          box-shadow: 0 0px 1px 0 #858585;
}

@media (min-width: 768px) {
  header div {
    width: 75%;
  }
  header div h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  header div button {
    font-size: 1rem;
  }
  section {
    padding: 1.5rem 0;
  }
  section div {
    width: 75%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section div select {
    margin: 0 0 0 1rem;
  }
  .modal {
    top: 96px;
  }
}

@media (min-width: 1024px) {
  header div {
    width: 90%;
  }
  section {
    margin-top: 96px;
  }
  section div {
    width: 90%;
  }
  .modal-container > div .country-detail {
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal-container > div .country-detail > div:nth-child(1) {
    width: 100%;
    height: 300px;
  }
  .modal-container > div .country-detail .country-info {
    margin: 0 0 0 3rem;
    width: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .modal-container > div .country-detail .country-info .info-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .modal-container > div .country-detail .country-info .info-one div:nth-child(1) {
    margin: 0 3rem 0 0;
    height: auto;
    width: auto;
  }
  .modal-container > div .country-detail .country-info .info-one div:nth-child(1) p {
    margin: 0.5rem 0;
  }
  .modal-container > div .country-detail .country-info .info-one div:nth-child(1) p:nth-child(2) {
    margin-top: 1rem;
  }
  .modal-container > div .country-detail .country-info .info-one div:nth-child(1) p:last-child {
    margin-bottom: 0;
  }
  .modal-container > div .country-detail .country-info .info-one div:nth-child(2) {
    margin-top: 2.5rem;
  }
  .modal-container > div .country-detail .country-info .info-one div:nth-child(2) p {
    margin: 0;
  }
  .modal-container > div .country-detail .country-info .info-one div:nth-child(2) p:nth-child(2) {
    margin: 0.5rem 0;
  }
  .modal-container > div .country-detail .country-info .info-two {
    margin: 1rem 0 0 0;
  }
  .modal-container > div .country-detail .country-info .info-two h3 {
    font-weight: 600;
  }
  .modal-container > div .country-detail .country-info .info-two p {
    margin: 0;
  }
  .modal-container > div .country-detail .country-info .info-two p span {
    padding: 0.5rem;
    margin: 0.5rem 0.5rem 0 0;
  }
}

@media (min-width: 1440px) {
  header div {
    width: 85%;
  }
  section div {
    width: 85%;
  }
  .modal-container > div {
    width: 85%;
  }
  .modal-container > div .country-detail > div:nth-child(1) {
    height: 400px;
  }
  .modal-container > div .country-detail .country-info {
    margin: 0 0 0 8rem;
    height: 300px;
  }
  .modal-container > div .country-detail .country-info .info-one div:nth-child(1) {
    margin: 0 6rem 0 0;
  }
  .modal-container > div .country-detail .country-info .info-one div:nth-child(1) h2 {
    font-size: 2rem;
  }
  .modal-container > div .country-detail .country-info .info-one div:nth-child(1) p {
    font-size: 1rem;
  }
  .modal-container > div .country-detail .country-info .info-one div:nth-child(2) {
    margin-top: 3.5rem;
  }
  .modal-container > div .country-detail .country-info .info-one div:nth-child(2) p {
    font-size: 1rem;
  }
  .modal-container > div .country-detail .country-info .info-two h3 {
    font-size: 1.2rem;
  }
}

@media (min-width: 1920px) {
  header div {
    width: 82%;
  }
  section div {
    width: 82%;
  }
  .modal-container > div {
    width: 82%;
  }
  .modal-container > div .country-detail > div:nth-child(1) {
    height: 400px;
  }
  .modal-container > div .country-detail .country-info {
    margin: 0 0 0 8rem;
    height: 300px;
  }
  .modal-container > div .country-detail .country-info .info-one div:nth-child(1) {
    margin: 0 6rem 0 0;
  }
  .modal-container > div .country-detail .country-info .info-one div:nth-child(1) h2 {
    font-size: 2rem;
  }
  .modal-container > div .country-detail .country-info .info-one div:nth-child(1) p {
    font-size: 1rem;
  }
  .modal-container > div .country-detail .country-info .info-one div:nth-child(2) {
    margin-top: 3.5rem;
  }
  .modal-container > div .country-detail .country-info .info-one div:nth-child(2) p {
    font-size: 1rem;
  }
  .modal-container > div .country-detail .country-info .info-two h3 {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=style.css.map */